


    <!-- ==========Preloader========== -->
    <!-- <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div> -->
    <!-- ==========Preloader========== -->
    <!-- ==========Overlay========== -->
    <div class="overlay"></div>
    <a href="#" class="scrollToTop">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- ==========Overlay========== -->



  <div class="container">
    <div class="page-title">
        Upgrade Membership Plan
    </div>
    <div class="row justify-content-center align-items-center">
      
        <div class="col-lg-6 ">
            <div class="single-plan ">
               
                <p class="duration">
                      Promoted Pakage
                  </p>
                
                <h4 class="number">
                    <sup>$</sup>9.99
                </h4>
                <%#= link_to image_tag("premium.png", class:'block1-img mb-2'), root_path %>
                <p>This package upgrades your profile and makes you show up at the top of searches that include you and on the general Profiles page for 30 days. This increases your chances of having your profile seen and requested!</p></center>
              
                <%= button_to 'Buy Now', addons_premium_path, remote: true, class:'custom-button', style:'width:150px' %>
             </div>
      </div>
      
        <div class="col-lg-6 ">
            <div class="single-plan ">
                <!-- <center><h3><span style="color:orange;">1 Additional Request</span></h3> -->
                  <p class="duration">
                      1 Additional Request
                  </p>
                
                <h4 class="number">
                    .99<sup>c</sup>
                </h4>
                
                <p class="mb-5"  style = 'margin-top:45px'>1 additional request.</p></center>
                  <br>
                <%#= image_tag("plan-bg.png", style:'width:100%')%>
                <%= button_to 'Buy Now', addons_path, remote: true, class:'custom-button ', style:'width:150px' %>
             </div>
      </div>

    </div>



