

    
    <!-- ==========Overlay========== -->
    <!-- <div class="overlay"></div>
    <a href="#" class="scrollToTop">
        <i class="fas fa-angle-up"></i>
    </a> -->
    <!-- ==========Overlay========== -->


    <!-- ==========Breadcrumb-Section========== -->
    <!-- <section class="breadcrumb-area profile-bc-area">
        <div class="container">
            <div class="content">
                <h2 class="title extra-padding">
                    Setting
                </h2>
                <ul class="breadcrumb-list extra-padding">
                    <li>
                        <a href="index.html">
                            Home
                        </a>
                    </li>

                    <li>
                        Setting
                    </li>
                </ul>
            </div>
        </div>
    </section> -->
    <!-- ==========Breadcrumb-Section========== -->


    <!-- ========= Profile Section Start -->

   
 
                    <div class="page-title">
                        Friend Request
                        <div class="right">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Find Friends</a>
                            <a href="#"  data-bs-toggle="modal" data-bs-target="#settingnotification">Settings</a>
                        </div>
                    </div>


                    <div class="frind-box">
                        <div class="single-friend">
                            <div class="left">
                                <!-- <img src="assets/images/frequest/1.png" alt=""> -->
                                <%= image_tag("user-demo.png") %>
                                <div class="content">
                                    <h5 class="name">May Hurt <i class="fas fa-certificate"></i></h5>
                                    <span class="age">21 Years Old</span>
                                    <span class="separator"></span>
                                    <span class="location"><i class="fas fa-map-marker-alt"></i> Paris</span>
                                </div>
                            </div>
                            <div class="right">
                                <a href="#" class="accept">Accept</a>
                                <a href="#" class="ignore">Ignore</a>
                            </div>
                        </div>
                        <div class="single-friend mt-20">
                            <div class="left">
                                <!-- <img src="assets/images/frequest/2.png" alt=""> -->
                                <%= image_tag("2.png") %>
                                <div class="content">
                                    <h5 class="name">May Hurt <i class="fas fa-certificate"></i></h5>
                                    <span class="age">21 Years Old</span>
                                    <span class="separator"></span>
                                    <span class="location"><i class="fas fa-map-marker-alt"></i> Paris</span>
                                </div>
                            </div>
                            <div class="right">
                                <a href="#" class="accept">Accept</a>
                                <a href="#" class="ignore">Ignore</a>
                            </div>
                        </div>
                        <div class="single-friend mt-20">
                            <div class="left">
                                <!-- <img src="assets/images/frequest/3.png" alt=""> -->
                                <%= image_tag("3.png") %>
                                <div class="content">
                                    <h5 class="name">May Hurt <i class="fas fa-certificate"></i></h5>
                                    <span class="age">21 Years Old</span>
                                    <span class="separator"></span>
                                    <span class="location"><i class="fas fa-map-marker-alt"></i> Paris</span>
                                </div>
                            </div>
                            <div class="right">
                                <a href="#" class="accept">Accept</a>
                                <a href="#" class="ignore">Ignore</a>
                            </div>
                        </div>
                    </div>
               


  
    <!-- ========= Profile Section Start -->


