
<style type="text/css">
	/* cyrillic-ext */
	@font-face {
	  font-family: 'Open Sans';
	  font-style: italic;
	  font-weight: 400;
	  font-stretch: 100%;
	  src: url(https://fonts.gstatic.com/s/opensans/v27/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWtE6F15M.woff2) format('woff2');
	  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
	}
	/* cyrillic */
	@font-face {
	  font-family: 'Open Sans';
	  font-style: italic;
	  font-weight: 400;
	  font-stretch: 100%;
	  src: url(https://fonts.gstatic.com/s/opensans/v27/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWvU6F15M.woff2) format('woff2');
	  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
	}
	/* greek-ext */
	@font-face {
	  font-family: 'Open Sans';
	  font-style: italic;
	  font-weight: 400;
	  font-stretch: 100%;
	  src: url(https://fonts.gstatic.com/s/opensans/v27/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWtU6F15M.woff2) format('woff2');
	  unicode-range: U+1F00-1FFF;
	}
	*{
		font-family: 'Open Sans';
	}
	h2,h4{
		text-align: center;
		margin-top: 50px;
		/*margin-bottom: 50px;*/
		padding: 30px;

	}
	p{
		padding: 5px 30px;
		margin: 30px 30px;
	}
	ul li{
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-left: 30px;
		margin-right: 30px;
	}

</style>

<div class="container">
	<div class="row">
		<h2>PRIVACY POLICY</h2>
		<p>This page is used to inform visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service.</p>
		<p>If you choose to use our Service, then you agree to the collection and use of information in relation to this policy. The Personal Information that we collect is used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.</p>
		<p>The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which unless otherwise defined in this Privacy Policy.
		We understand that protecting your personal information is important.</p>
		<p>This Privacy Policy sets out our commitment to protecting the privacy of personal information provided to us, or otherwise collected by us, offline or online, including through our services, website, social media channels and application (Services).</p>
	
		 

	</div>
	<div class="row">
		<h4>PERSONAL INFORMATION</h4>
		<p><strong>Personal information:</strong> The types of personal information we may collect about you include:</p>
		<ul>
			<li>your name;</li>
			<li>your contact details, including email address, mailing address, street address and/or telephone number;</li>
			<li>your age and/or date of birth;</li>
			<li>your preferences and/or opinions;</li>
			<li>details of services we have provided to you and/or that you have enquired about, and our response to you;</li>
			<li>your browser session and geo-location data, device and network information, statistics on page views and sessions, acquisition sources, search queries and/or browsing behavior;</li>
			<li>information about your access and use of our Services, including through the use of Internet cookies, your communications with our online Services, the type of browser you are using, the type of operating system you are using and the domain name of your Internet service provider;</li>
			<li>additional personal information that you provide to us, directly or indirectly, through your use of our Services, associated applications, associated social media platforms and/or accounts from which you permit us to collect information; and</li>
			<li>any other personal information requested by us and/or provided by you or a third party. We may collect these types of personal information directly from you or from third parties.</li>
		</ul>
	</div>
	<div class="row">
		<h4>COLLECTION AND USE OF PERSONAL INFORMATION</h4>
		<p>We may collect, hold, use and disclose personal information for the following purposes:</p>
		<ul>
			<li> to enable you to access and use our Services, associated applications and associated social media platforms;</li>
			<li>to contact and communicate with you;</li>
			<li>for internal record keeping, administrative purposes;</li>
			<li>for analytics, market research and business development, including to operate and improve our Services, associated applications and associated social media platforms;</li>
			<li>to run promotions, competitions and/or offer additional benefits to you;</li>
			<li>for advertising and marketing, including to send you promotional information about our products and services and information that we consider may be of interest to you;</li>
			<li>to comply with our legal obligations and resolve any disputes that we may have; and</li>

		</ul>
		

	</div>
	<div class="row">
		<h4>DISCLOSURE OF PERSONAL INFORMATION TO THIRD PARTIES</h4>
		<p>We may disclose personal information to:</p>
		<ul>
			<li>third party service providers for the purpose of enabling them to provide their services, including (without limitation) IT service providers, data storage, web-hosting and server providers, debt collectors, maintenance or problem-solving providers, marketing or advertising providers, professional advisors and payment systems operators;</li>
			<li>our employees, contractors and/or related entities;</li>
			<li>sponsors or promoters of any promotions or competition we run;</li>
			<li>anyone to whom our business or assets (or any part of them) are, or may (in good faith) be, transferred;</li>
			<li>courts, tribunals, regulatory authorities and law enforcement officers, as required by law, in connection with any actual or prospective legal </li>
			<li>proceedings, or in order to establish, exercise or defend our legal rights;</li>
			

		</ul>
	</div>
	<div class="row">
		<h4>HOW WE TREAT PERSONAL INFORMATION THAT IS ALSO SENSITIVE INFORMATION</h4>
		<ul>
			<li> Sensitive information is a sub-set of personal information that is given a higher level of protection under our Privacy Principles. Sensitive information means information relating to your political opinions, trade union or other professional associations or memberships, philosophical beliefs, sexual orientation, sexual practices or sex life, criminal records, health information or biometric information.</li>
			<li> We will not collect sensitive information about you without first obtaining your consent.</li>
			<li> Provided you consent, your sensitive information may only be used and</li>
			<li> disclosed for purposes directly relating to the primary purpose for which the sensitive information was collected.</li>
			<li> Sensitive information may also be used or disclosed if required or authorized by law.</li>
		 </ul>

	</div>
	<div class="row">
		<h4>OUR COMMITMENT TO YOU</h4>
		<p>Your personal information will:</p>
		<ul>
			<li>be processed lawfully, fairly and in a transparent manner by us;</li>
			<li></li>
			<li>only be collected for the specific purposes we have identified in the </li>
			<li>‘collection and use of personal information’ clause above and personal </li>
			<li>information will not be further processed in a manner that is incompatible with the purposes we have identified;</li>
			<li>be collected in a way that is adequate, relevant and limited to what is necessary in relation to the purpose for which the personal information is processed;</li>
			<li>be kept up to date, where it is possible and within our control to do so (please let us know if you would like us to correct any of your personal information);</li>
			<li>be kept in a form which permits us to identify you, but only for so long as necessary for the purposes for which the personal information was collected; and</li>
			<li>be processed securely and in a way that protects against unauthorized or unlawful processing and against accidental loss, destruction or damage.
			</li>
		
		</ul>
   
	</div>
	<div class="row">
		<h4>YOUR RIGHTS AND CONTROLLING YOUR PERSONAL INFORMATION</h4>
		<p><strong>Your choice: </strong>Please read this Privacy Policy carefully. If you provide personal information to us, you understand we will collect, hold, use and disclose your personal information in accordance with this Privacy Policy. You do not have to provide personal information to us. However, if you do not, it may affect your use of our Services.</p>
		<p><strong>Information from third parties: </strong>If we receive personal information about you from a third party, we will protect it as set out in this Privacy Policy. If you are a third party providing personal information about somebody else, you represent and warrant that you have such person’s consent to provide the personal information to us.</p>
		<p><strong>Anonymity: </strong>Where practicable we will give you the option of not identifying yourself or using a pseudonym in your dealings with us.</p>
		<p><strong>Restrict and unsubscribe: </strong>To object to processing for direct marketing/unsubscribe from our email database or opt-out of communications (including marketing communications), please contact us using the details below or opt-out using the opt-out facilities provided in the communication.</p>
		<p><strong>Correction: </strong>If you believe that any information we hold about you is inaccurate, out of date, incomplete, irrelevant or misleading, please contact us using the details below. We will take reasonable steps to promptly correct any information found to be inaccurate, incomplete, misleading or out of date.</p>
		<p><strong>Complaints/Dispute: </strong> If you wish to make a complaint, please contact us using the details below and provide us with full details of the complaint. We will promptly investigate your complaint and respond to you, in writing, setting out the outcome of our investigation and the steps we will take in response to your complaint. You also have the right to contact the relevant authority in the country in which you are based. </p>
		
	</div>
	<div class="row">
		<h4>STORAGE AND SECURITY</h4>
		<ul>
			<li>
    			We are committed to ensuring that the personal information we collect is secure. In order to prevent unauthorized access or disclosure, we have put in place suitable physical, electronic and managerial procedures, to safeguard and secure personal information and protect it from misuse, interference, loss and unauthorized access, modification and disclosure.</li>
			<li>We cannot guarantee the security of any information that is transmitted to or by us over the Internet. The transmission and exchange of information is carried out at your own risk. Although we take measures to safeguard against unauthorized disclosures of information, we cannot assure you that the personal information we collect will not be disclosed in a manner that is inconsistent with this Privacy Policy.</li>
		</ul>

	</div>
	<div class="row">
		<h4>COOKIES AND WEB BEACONS</h4>
		<ul>
			<li>We may use cookies on our online Services from time to time. Cookies are text files placed in your computer's browser to store your preferences. Cookies, by themselves, do not tell us your email address or other personally identifiable information. However, they do allow third parties, such as Google (google.com/policies/privacy/partners), to cause our advertisements to appear on your social media and online media feeds as part of our retargeting campaigns. If and when you choose to provide our online Services with personal information, this information may be linked to the data stored in the cookie.</li>
			<li>You can block cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies. However, if you use your browser settings to block all cookies (including essential cookies) you may not be able to access all or parts of our online Services.</li>
			<li>We may use web beacons on our online Services from time to time. Web beacons (also known as Clear GIFs) are small pieces of code placed on a web page to monitor the visitor’s behaviour and collect data about the visitor’s viewing of a web page. For example, web beacons can be used to count the users who visit a web page or to deliver a cookie to the browser of a visitor viewing that page.</li>
			<li>We may use Google Analytics to collect and process data. To find out how Google uses data when you use third party websites or applications, please see www.google.com/policies/privacy/partners/ or any other URL Google may use from time to time.</li>
			<li></li>

		</ul>
	</div>
	<div class="row">
		<h4>LINKS TO OTHER WEBSITES</h4>
		<p>Our Services may contain links to other websites. We do not have any control over those websites and we are not responsible for the protection and privacy of any personal information which you provide whilst visiting those websites. Those websites are not governed by this Privacy Policy.</p>

	</div>
	<div class="row">
		<h4>AMENDMENTS</h4>
		<p>We may, at any time and at our discretion, vary this Privacy Policy. We may update this privacy policy in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons. We will keep the changes updated on our website. Kindly visit it from time to time to stay up to date. </p>

	</div>

</div>