<body>
	<noscript>You need to enable JavaScript to run this app.</noscript>
	<div id="root">
		<div class="nav navbar">
			<div class="logo"><a href="/dashboard"><span class="beta-tag">BETA</span><img src="/static/media/logo.acab3fd1.jpg" alt="logo"></a></div>
			<div class="main-menu menu">
				<h3>Main menu</h3>
				<a href="/dashboard">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
						<line x1="3" y1="9" x2="21" y2="9"></line>
						<line x1="9" y1="21" x2="9" y2="9"></line>
					</svg>Dashboard</a>
				<a href="/profiles">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<rect x="3" y="3" width="7" height="7"></rect>
						<rect x="14" y="3" width="7" height="7"></rect>
						<rect x="14" y="14" width="7" height="7"></rect>
						<rect x="3" y="14" width="7" height="7"></rect>
					</svg>Profiles</a>
				<a href="/edit-profile">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
						<circle cx="12" cy="7" r="4"></circle>
					</svg>My Profile</a>
			</div>
			<div class="support-menu menu">
				<h3>More</h3>
				<a href="/addons">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<circle cx="12" cy="12" r="10"></circle>
						<line x1="12" y1="8" x2="12" y2="16"></line>
						<line x1="8" y1="12" x2="16" y2="12"></line>
					</svg> Addons</a>
				<a href="/settings">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<circle cx="12" cy="12" r="3"></circle>
						<path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
					</svg>Settings</a>
				<a href="#">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
						<polyline points="16 17 21 12 16 7"></polyline>
						<line x1="21" y1="12" x2="9" y2="12"></line>
					</svg>Logout</a>
			</div>
		</div>
		<div class="top-nav">
			<div>
				<div class="bm-overlay" style="position: fixed; z-index: 1000; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); opacity: 0; transform: translate3d(100%, 0px, 0px); transition: opacity 0.3s ease 0s, transform 0s ease 0.3s; top: 0px; left: 0px;"></div>
				<div id="" class="bm-menu-wrap the-menu" style="position: fixed; right: inherit; z-index: 1100; width: 50vw; height: 100%; transform: translate3d(-100%, 0px, 0px); transition: all 0.5s ease 0s; top: 0px; left: 0px;">
					<div class="bm-menu" style="height: 100%; box-sizing: border-box; overflow: auto; font-size: 1.15em;">
						<nav class="bm-item-list" style="height: inherit; color: rgb(184, 183, 173);">
							<div class="nav mobile-nav">
								<div class="logo"><span class="beta-tag">BETA</span>
									<a href="/dashboard"><img src="/static/media/logo.acab3fd1.jpg" alt="logo"></a>
								</div>
								<div class="main-menu menu">
									<h3>Main menu</h3>
									<a href="/dashboard">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
											<rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
											<line x1="3" y1="9" x2="21" y2="9"></line>
											<line x1="9" y1="21" x2="9" y2="9"></line>
										</svg>Dashboard</a>
									<a href="/profiles">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
											<rect x="3" y="3" width="7" height="7"></rect>
											<rect x="14" y="3" width="7" height="7"></rect>
											<rect x="14" y="14" width="7" height="7"></rect>
											<rect x="3" y="14" width="7" height="7"></rect>
										</svg>Profiles</a>
									<a href="/edit-profile">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
											<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
											<circle cx="12" cy="7" r="4"></circle>
										</svg>My Profile</a>
								</div>
								<div class="support-menu menu">
									<h3>More</h3>
									<a href="/addons">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
											<circle cx="12" cy="12" r="10"></circle>
											<line x1="12" y1="8" x2="12" y2="16"></line>
											<line x1="8" y1="12" x2="16" y2="12"></line>
										</svg> Addons</a>
									<a href="/settings">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
											<circle cx="12" cy="12" r="3"></circle>
											<path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
										</svg>Settings</a>
									<a>
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
											<path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
											<polyline points="16 17 21 12 16 7"></polyline>
											<line x1="21" y1="12" x2="9" y2="12"></line>
										</svg>Logout</a>
								</div>
							</div>
						</nav>
					</div>
					<div>
						<div class="bm-cross-button" style="position: absolute; width: 24px; height: 24px; right: 8px; top: 8px; display: none;"><span style="position: absolute; top: 6px; right: 14px;"><span class="bm-cross" style="position: absolute; width: 3px; height: 14px; transform: rotate(45deg); background: rgb(189, 195, 199);"></span><span class="bm-cross" style="position: absolute; width: 3px; height: 14px; transform: rotate(-45deg); background: rgb(189, 195, 199);"></span></span>
							<button tabindex="-1" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; margin: 0px; padding: 0px; border: none; font-size: 0px; background: transparent; cursor: pointer;">Close Menu</button>
						</div>
					</div>
				</div>
				<div>
					<div class="bm-burger-button" style="z-index: 1000; position: absolute; width: 10.8vw; height: 10.8vw; left: 2.8vw; top: 2.8vw; border-radius: 50%; padding: 2.8vw; box-sizing: border-box;"><img src="/static/media/burger.984b1ded.svg" class="bm-icon" style="width: 100%; height: 100%;">
						<button style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; margin: 0px; padding: 0px; border: none; font-size: 0px; background: transparent; cursor: pointer;">Open Menu</button>
					</div>
				</div>
			</div>
			<div class="account">
				<p class="requests-remaining">1 requests remaining</p>
				<p class="name">. .</p>
			</div>
		</div>
		<section class="container">
			<div class="dashboard">
				<div class="inactivity-banner">
					<p>Looks like your account isn't active, head over to settings to reactivate your account to send and receive your requests</p>
				</div>
				<h1>My requests sent</h1>
				<div class="requests-sent dashboard-containers" style="opacity: 0.5;">
					<div class="request">
						<a href="/requests-sent/F1051" style="pointer-events: none;">
							<p class="sunnahMatchId">F1051</p>
							<p style="overflow: hidden;"><span><span>I have a passion for learning the deen and I strive to better myself to the best of my ability. I follow the Quran... </span></span>
							</p>
							<p class="date">3 months ago</p>
						</a>
						<button style="pointer-events: none;">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#bc3150" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<line x1="18" y1="6" x2="6" y2="18"></line>
								<line x1="6" y1="6" x2="18" y2="18"></line>
							</svg>
						</button>
					</div>
					<div class="request">
						<a href="/requests-sent/F0786" style="pointer-events: none;">
							<p class="sunnahMatchId">F0786</p>
							<p style="overflow: hidden;"><span>.</span></p>
							<p class="date">4 months ago</p>
						</a>
						<button style="pointer-events: none;">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#bc3150" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<line x1="18" y1="6" x2="6" y2="18"></line>
								<line x1="6" y1="6" x2="18" y2="18"></line>
							</svg>
						</button>
					</div>
					<div class="request">
						<a href="/requests-sent/F0493" style="pointer-events: none;">
							<p class="sunnahMatchId">F0493</p>
							<p style="overflow: hidden;"><span>I am a well mannered and caring individual whose family orientated and easy going. 

</span></p>
							<p class="date">4 months ago</p>
						</a>
						<button style="pointer-events: none;">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#bc3150" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<line x1="18" y1="6" x2="6" y2="18"></line>
								<line x1="6" y1="6" x2="18" y2="18"></line>
							</svg>
						</button>
					</div>
					<div class="request">
						<a href="/requests-sent/F0935" style="pointer-events: none;">
							<p class="sunnahMatchId">F0935</p>
							<p style="overflow: hidden;"><span><span>I’m a 20 girl who’s very practicing, I like to workout ,eat healthy and read books. I also try my best to follow... </span></span>
							</p>
							<p class="date">4 months ago</p>
						</a>
						<button style="pointer-events: none;">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#bc3150" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<line x1="18" y1="6" x2="6" y2="18"></line>
								<line x1="6" y1="6" x2="18" y2="18"></line>
							</svg>
						</button>
					</div><a class="see-more" href="/requests-sent" style="pointer-events: none;">See all<svg xmlns="http://www.w3.org/2000/svg" width="1.1rem" height="1.1rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><polyline points="12 16 16 12 12 8"></polyline><line x1="8" y1="12" x2="16" y2="12"></line></svg></a></div>
				<h1>My requests received</h1>
				<div class="requests-received dashboard-containers" style="opacity: 0.5;">
					<div class="request">
						<a href="/requests-received/F0988" style="pointer-events: none;">
							<p class="sunnahMatchId">F0988</p>
							<p style="overflow: hidden;"><span><span>Asalamualikum warahmatullah wabarakatuh. I am a student of deen, studying the sunnah according to... </span></span>
							</p>
							<p class="date">4 months ago</p>
						</a>
					</div><a class="see-more" href="/requests-received" style="pointer-events: none;">See all<svg xmlns="http://www.w3.org/2000/svg" width="1.1rem" height="1.1rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><polyline points="12 16 16 12 12 8"></polyline><line x1="8" y1="12" x2="16" y2="12"></line></svg></a></div>
			</div>
		</section>
	</div>
	<script>
	! function(e) {
		function t(t) {
			for(var n, l, i = t[0], f = t[1], a = t[2], p = 0, s = []; p < i.length; p++) l = i[p], Object.prototype.hasOwnProperty.call(o, l) && o[l] && s.push(o[l][0]), o[l] = 0;
			for(n in f) Object.prototype.hasOwnProperty.call(f, n) && (e[n] = f[n]);
			for(c && c(t); s.length;) s.shift()();
			return u.push.apply(u, a || []), r()
		}

		function r() {
			for(var e, t = 0; t < u.length; t++) {
				for(var r = u[t], n = !0, i = 1; i < r.length; i++) {
					var f = r[i];
					0 !== o[f] && (n = !1)
				}
				n && (u.splice(t--, 1), e = l(l.s = r[0]))
			}
			return e
		}
		var n = {},
			o = {
				1: 0
			},
			u = [];

		function l(t) {
			if(n[t]) return n[t].exports;
			var r = n[t] = {
				i: t,
				l: !1,
				exports: {}
			};
			return e[t].call(r.exports, r, r.exports, l), r.l = !0, r.exports
		}
		l.m = e, l.c = n, l.d = function(e, t, r) {
			l.o(e, t) || Object.defineProperty(e, t, {
				enumerable: !0,
				get: r
			})
		}, l.r = function(e) {
			"undefined" != typeof Symbol && Symbol.toStringTag && Object.defineProperty(e, Symbol.toStringTag, {
				value: "Module"
			}), Object.defineProperty(e, "__esModule", {
				value: !0
			})
		}, l.t = function(e, t) {
			if(1 & t && (e = l(e)), 8 & t) return e;
			if(4 & t && "object" == typeof e && e && e.__esModule) return e;
			var r = Object.create(null);
			if(l.r(r), Object.defineProperty(r, "default", {
					enumerable: !0,
					value: e
				}), 2 & t && "string" != typeof e)
				for(var n in e) l.d(r, n, function(t) {
					return e[t]
				}.bind(null, n));
			return r
		}, l.n = function(e) {
			var t = e && e.__esModule ? function() {
				return e.default
			} : function() {
				return e
			};
			return l.d(t, "a", t), t
		}, l.o = function(e, t) {
			return Object.prototype.hasOwnProperty.call(e, t)
		}, l.p = "/";
		var i = this.webpackJsonpclient = this.webpackJsonpclient || [],
			f = i.push.bind(i);
		i.push = t, i = i.slice();
		for(var a = 0; a < i.length; a++) t(i[a]);
		var c = f;
		r()
	}([])
	</script>
	<script src="/static/js/2.f0cd78da.chunk.js"></script>
	<script src="/static/js/main.45eeafce.chunk.js"></script>
	<iframe name="__privateStripeMetricsController6350" frameborder="0" allowtransparency="true" scrolling="no" allow="payment *" src="https://js.stripe.com/v3/m-outer-08a1fefa46cfc8cc94fc477ddcdb0555.html#url=https%3A%2F%2Fapp.sunnahmatch.com%2Fedit-profile&amp;title=&amp;referrer=&amp;muid=d9cbc343-dde7-4407-a49c-c839fff2892cbdb902&amp;sid=NA&amp;version=6&amp;preview=false" aria-hidden="true" tabindex="-1" style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; visibility: hidden !important; position: fixed !important; height: 1px !important; pointer-events: none !important; user-select: none !important;"></iframe>
	<iframe id="intercom-frame" style="position: absolute !important; opacity: 0 !important; width: 1px !important; height: 1px !important; top: 0 !important; left: 0 !important; border: none !important; display: block !important; z-index: -1 !important; pointer-events: none;" aria-hidden="true" tabindex="-1" title="Intercom"></iframe>
	<div class="intercom-lightweight-app">
		<div class="intercom-lightweight-app-launcher intercom-launcher" role="button" tabindex="0" aria-label="Open Intercom Messenger" aria-live="polite">
			<div class="intercom-lightweight-app-launcher-icon intercom-lightweight-app-launcher-icon-open">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 32">
					<path d="M28 32s-4.714-1.855-8.527-3.34H3.437C1.54 28.66 0 27.026 0 25.013V3.644C0 1.633 1.54 0 3.437 0h21.125c1.898 0 3.437 1.632 3.437 3.645v18.404H28V32zm-4.139-11.982a.88.88 0 00-1.292-.105c-.03.026-3.015 2.681-8.57 2.681-5.486 0-8.517-2.636-8.571-2.684a.88.88 0 00-1.29.107 1.01 1.01 0 00-.219.708.992.992 0 00.318.664c.142.128 3.537 3.15 9.762 3.15 6.226 0 9.621-3.022 9.763-3.15a.992.992 0 00.317-.664 1.01 1.01 0 00-.218-.707z"></path>
				</svg>
			</div>
			<div class="intercom-lightweight-app-launcher-icon intercom-lightweight-app-launcher-icon-minimize">
				<svg viewBox="0 0 16 14" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M.116 4.884l1.768-1.768L8 9.232l6.116-6.116 1.768 1.768L8 12.768.116 4.884z"></path>
				</svg>
			</div>
		</div>
		<style id="intercom-lightweight-app-style" type="text/css">
		@keyframes intercom-lightweight-app-launcher {
			from {
				opacity: 0;
				transform: scale(0.5);
			}
			to {
				opacity: 1;
				transform: scale(1);
			}
		}
		
		@keyframes intercom-lightweight-app-gradient {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}
		
		@keyframes intercom-lightweight-app-messenger {
			from {
				opacity: 0;
				transform: translateY(20px);
			}
			to {
				opacity: 1;
				transform: translateY(0);
			}
		}
		
		.intercom-lightweight-app {
			position: fixed;
			z-index: 2147483001;
			width: 0;
			height: 0;
			font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
		}
		
		.intercom-lightweight-app-gradient {
			position: fixed;
			z-index: 2147483002;
			width: 500px;
			height: 500px;
			bottom: 0;
			right: 0;
			pointer-events: none;
			background: radial-gradient( ellipse at bottom right, rgba(29, 39, 54, 0.16) 0%, rgba(29, 39, 54, 0) 72%);
			animation: intercom-lightweight-app-gradient 200ms ease-out;
		}
		
		.intercom-lightweight-app-launcher {
			position: fixed;
			z-index: 2147483003;
			bottom: 20px;
			right: 20px;
			width: 60px;
			height: 60px;
			border-radius: 50%;
			background: #0a668d;
			cursor: pointer;
			box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06), 0 2px 32px 0 rgba(0, 0, 0, 0.16);
			animation: intercom-lightweight-app-launcher 250ms ease;
		}
		
		.intercom-lightweight-app-launcher:focus {
			outline: none;
		}
		
		.intercom-lightweight-app-launcher-icon {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			left: 0;
			width: 60px;
			height: 60px;
			transition: transform 100ms linear, opacity 80ms linear;
		}
		
		.intercom-lightweight-app-launcher-icon-open {
			opacity: 1;
			transform: rotate(0deg) scale(1);
		}
		
		.intercom-lightweight-app-launcher-icon-open svg {
			width: 28px;
			height: 32px;
		}
		
		.intercom-lightweight-app-launcher-icon-open svg path {
			fill: rgb(255, 255, 255);
		}
		
		.intercom-lightweight-app-launcher-icon-self-serve {
			opacity: 1;
			transform: rotate(0deg) scale(1);
		}
		
		.intercom-lightweight-app-launcher-icon-self-serve svg {
			height: 56px;
		}
		
		.intercom-lightweight-app-launcher-icon-self-serve svg path {
			fill: rgb(255, 255, 255);
		}
		
		.intercom-lightweight-app-launcher-custom-icon-open {
			max-height: 36px;
			max-width: 36px;
			opacity: 1;
			transform: rotate(0deg) scale(1);
		}
		
		.intercom-lightweight-app-launcher-icon-minimize {
			opacity: 0;
			transform: rotate(-60deg) scale(0);
		}
		
		.intercom-lightweight-app-launcher-icon-minimize svg {
			width: 16px;
		}
		
		.intercom-lightweight-app-launcher-icon-minimize svg path {
			fill: rgb(255, 255, 255);
		}
		
		.intercom-lightweight-app-messenger {
			position: fixed;
			z-index: 2147483003;
			overflow: hidden;
			background-color: white;
			animation: intercom-lightweight-app-messenger 250ms ease-out;
			width: 376px;
			height: calc(100% - 120px);
			max-height: 704px;
			min-height: 250px;
			right: 20px;
			bottom: 100px;
			box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
			border-radius: 8px;
		}
		
		.intercom-lightweight-app-messenger-header {
			height: 75px;
			background: linear-gradient( 135deg, rgb(188, 49, 80) 0%, rgb(107, 28, 46) 100%);
		}
		
		@media print {
			.intercom-lightweight-app {
				display: none;
			}
		}
		</style>
	</div>
	<div class="ReactModalPortal"></div>
	<div class="ReactModalPortal"></div>
	<div class="ReactModalPortal"></div>
	<div class="ReactModalPortal"></div>
</body>