<style type="text/css">
	.subscribe-img{
		width: 550px;
		height: 350px;
		display: block;
	  	margin-left: auto;
	  	margin-right: auto;
	  	margin-top: 50px;

	}
	 .signup-btn{
        width: 100%;
        height: 45px;
        background-color: #00BFFF;
        color: white;
        justify-content: center;
        align-content: center;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.075);
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
      }
     .signup-btn:hover{
        width: 100%;
        height: 45px;
        background-color: white;
        color: #00BFFF;
        justify-content: center;
        align-content: center;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.075);
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        border: 2px solid #00BFFF;
        /*outline-color: #00BFFF;*/
      } 
      @media(max-width: 989px){
        .signup-btn{
          margin-bottom: 30px;
          width: 100%;


        }
      .block {
       width: 350px;
       height: 350px;
       border-radius: 10px ;
       padding: 25px;
       color: #595959; 
       margin-bottom: 20px;
       /*border: 2px solid grey;*/ 

     }
    
   
</style>
 <%= render 'shared/navbar' %>
<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<div class="row 5 p-5">
				<h1>Sunnah Match Monthly</h1>
				<h4 class="my-5">Refund policy</h4>
				<p>Sunnah Match reserves the right to offer refunds at our discretion.</p>
				<p>At Sunnah Match, we follow a 100% sharia-compliant refund and cancellation policy. When you purchase or subscribe to Sunnah Match, you agree that the digital service will be available to you immediately, and you acknowledge that, as a result, you waive your automatic statutory right of withdrawal. Therefore, you will not be eligible for a refund (or any alternative remedy) unless the digital content is defective, unavailable or doesn’t perform as stated. You can cancel your subscription at anytime. Your subscription will re-new automatically unless cancelled prior to the renewal date.

				</p>
				<h4>Wali policy</h4>
				<h6>SISTERS NEED A COOPERATING WALI TO SIGN UP. IF YOUR WALI DOES NOT AGREE WITH YOU SIGNING UP TO SUNNAH MATCH, DO NOT SIGN UP.</h6>
				<p>Send us an email at info@sunnahmatch.com to arrange a potential solution.</p>
				<p>Refunds requested for the fact that you do not have a wali will not be offered.</p>

				<h4>Cancellation policy</h4>
				<p>You can cancel your Sunnah Match membership whenever you want. You can deactivate your account by going into settings and deactivating it after you've made your account.</p>
				<h4>The Sunnah Match Service</h4>
				<p>Sunnah Match cannot be held responsible for you missing out on any candidates due to their own unresponsiveness, due to your prioritising one candidate over another, or for any other reason. </p>
				<p>Candidates receive five requests per month which they can use to request whoever they want from our candidate pool. Additional requests may be purchased from the Sunnah Match Addons store.</p>

			</div>

			
		</div>
		<div class="col-lg-6">
			<%= link_to image_tag("subscribe.png", class:'subscribe-img'), root_path %>
			<div class="row mt-5">
				
				<h3>Don't you want the best chance of finding the one?</h3>
				<p>When you sign up to Sunnah Match you get 3 requests every month. If you want to maximise your chances, get 10 extra requests for only £9.99! This is a value of 99p per request!</p>
				<h3>Find the right one, in the right way!</h3>
			</div>
		 <%= button_to 'Sign In / Sign Up', checkout_create_path, remote: true, class:'btn signup-btn mt-5' %>

		</div>
	</div>
</div>