
 <%= render 'home/header' %>
 <section class="breadcrumb-area profile-bc-area">
        <div class="container">
            <div class="content">
                <h2 class="title">Subscribe Policy</h2>
                <ul class="breadcrumb-list">
                    <li>
                        <a href="index.html">
                            Home
                        </a>
                    </li>
                    <li>
                        Subscribe Policy
                    </li>
                </ul>
            </div>
        </div>
  </section>

  <!-- ==========Start-Flirting-Section========== -->
  <section class="flirting-section about-section">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 align-self-center">
                  <div class="img">
                      <!-- <img src="assets/images/about/about-page-left.html.png" alt=""> -->
                      <%= link_to image_tag("about-page-left.html.png"), root_path %>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="content">
                      <div class="section-header">
                          <h2 class="title">
                              Salam Match Monthly
                          </h2>
                          <h6 class="sub-title">
                              Refund policy
                          </h6>
                          <p>Salam Match reserves the right to offer refunds at our discretion.</p>
                          <p>At Salam Match, we follow a 100% sharia-compliant refund and cancellation policy. When you purchase or subscribe to Salam Match, you agree that the digital service will be available to you immediately, and you acknowledge that, as a result, you waive your automatic statutory right of withdrawal. Therefore, you will not be eligible for a refund (or any alternative remedy) unless the digital content is defective, unavailable or doesn’t perform as stated. You can cancel your subscription at anytime. Your subscription will re-new automatically unless cancelled prior to the renewal date.

                          </p>
                          <h6 class="sub-title">
                             Wali policy
                          </h6>
                          <p>SISTERS NEED A COOPERATING WALI TO SIGN UP. IF YOUR WALI DOES NOT AGREE WITH YOU SIGNING UP TO SALAM MATCH, DO NOT SIGN UP.</p>
													<p>Send us an email at info@salammatch.com to arrange a potential solution.</p>
													<p>Refunds requested for the fact that you do not have a wali will not be offered.</p>
                      </div>
                      
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- ==========Start-Flirting-Section========== -->


   <section class="flirting-section about-section">
      <div class="container">
          <div class="row">
              
              <div class="col-lg-6">
                  <div class="content">
                      <div class="section-header">
                          <h6 class="sub-title">
                              Cancellation policy
                          </h6>
                          <p>You can cancel your Salam Match membership whenever you want. You can deactivate your account by going into settings and deactivating it after you've made your account.</p>
                          <h6 class="sub-title">The Salam Match Service</h6>
                          <p>Salam Match cannot be held responsible for you missing out on any candidates due to their own unresponsiveness, due to your prioritising one candidate over another, or for any other reason. </p>
                          <p>Candidates receive five requests per month which they can use to request whoever they want from our candidate pool. Additional requests may be purchased from the Salam Match Addons store.</p>

                          	<strong>Don't you want the best chance of finding the one?</strong>
                          	<p>When you sign up to Salam Match you get 3 requests every month. If you want to maximise your chances, get 10 extra requests for only $9.99! This is a value of 99c per request!</p>
                          	<strong>Find the right one, in the right way!</strong>
                          </div>
                          
                      </div>
                      
                  </div>
		              <div class="col-lg-6 align-self-center">
		                  <div class="img-right">
		                      <!-- <img src="assets/images/about/about-page-left.html.png" alt=""> -->
		                      <%= image_tag("img-right.png", class:'')%>
		                  </div>
		              </div>
              </div>
          </div>
      </div>
  </section>
  <!-- ==========Start-Flirting-Section========== -->
 <%= render 'home/footer' %>