  <div class="accordion " id="accordionExample">
    <div class="card ">
      <div class="card-header" id="panelsStayOpen-headingOne">
          <button class="" data-bs-toggle="collapse" data-bs-target="#collapseDashboard" aria-expanded="false" aria-controls="collapseDashboard">
            <div class="icon">
                <i class="fas fa-user"></i>
            </div> 
            <span>User Profiles</span>
            <div class="t-icon">
                <i class="fas fa-plus"></i>
                <i class="fas fa-minus"></i>
            </div>
          </button>
      </div>
  
      <div id="collapseDashboard" class="collapse" aria-labelledby="panelsStayOpen-headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <ul class="links">
             <li>
                 <%= link_to 'Users', '' %>
              </li>
                         
          </ul>
        </div>
      </div>
    </div>

</div>
