
<style type="text/css">
	body {
	 /*background-image: url("/assets/about_background.jpg");
	 background-repeat: no-repeat;
	 background-attachment: fixed;
	 background-position: center;*/
	 background-image: linear-gradient(to bottom, #051937, #0b1a3d, #131a42, #1c1947, #26184b);



}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v27/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWtE6F15M.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  
  *{
    font-family: 'Open Sans';
  }

h2{
	color: white;
	font-weight: bold;

}

.main-content{
	width: 100vw;
	height: fit-content;
	padding: 30px;
}
.about-img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	 position:sticky;
	 top:250px;
	 z-index: 1;

}


</style>
<%= render 'admin_navbar'%>
<div class="main-content">
	<%#= image_tag('about_background.jpg', style:'filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(20%);') %>
	<div class="container-fluid">
		<div class="row">
			<div class="col -lg-7">
				<div class="row">
					<h2>Who We Are</h2>
					<p>MALIMATCH is a fully sunnah complaint matrimony service that allows muslims to find their ideal spouse without compromising their faith. We truly believe that starting a relationship in the correct way taught to us by our beloved Prophet Muhammad Peace and blessings be upon him. We wanted to create a platform that people can use to find a spouse according to the sunnah and this way our marriages may be blessed. Marriage is a beautiful sunnah of our prophet and we wanted to help our brothers and sisters find the one in the right way. We found that many brothers and sisters found difficulty in finding a spouse due to not knowing where to begin or not knowing details about potentials. Our Platform solves both these problems by bringing all the options to you.</p>
				</div>
				<div class="row">
					<h2>Aims</h2>
					<p>Our aim is to make marriage simple. We want to provide the best service for each user we verify each profile so only serious candidates are on our platform.&nbsp; Each user has a detailed profile that has detailed information about their religious practices and other information about themselves. So, you have an idea of the person you want to pursue.</p>
				</div>
			
			<div class="row">
				<h2>How It Works</h2>
				<p><strong>Step 1: Create a profile</strong></p>
				<p>Fill out your information. Tell us about yourself</p>
				<p>&nbsp;</p>
				<p><strong>Step 2: Find your ideal candidate</strong></p>
				<p>After having your profile approved you can use our platform and search for profiles that you are interested in. (There are no pictures on our platform).</p>
				<p>&nbsp;</p>
				<p><strong>Step 3: Start sending requests</strong></p>
				<p>Send requests to the profiles and if you get a match the rest is up to you. We encourage our users to meet each other with their wali.</p>
			</div>
			<div class="row">
				<p style="color: red;">Note: there are no profile pictures on MALIMATCH as we do not want any people on our site that are not serious. Also to comply with our Islamic values we do not allow any photos on our site rather we recommend matches to meet each other in person or over video call.</p>
			</div>
		</div>
			<div class="col-lg-5">
				<%= image_tag('about-pic.png', class:'about-img') %>
			</div>
		</div>
	</div>


</div>
	<%= render 'admin_footer'%>