<style type="text/css">
	hr {
    border: 20px solid #f1f1f1;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .block {
       width: 250px;
       height: 250px;
       border-radius: 10px ;
       padding: 25px;
       color: #595959; 
       margin-bottom: 20px;
       /*border: 2px solid grey;*/ 

}
.sunnahMatchId {
    background-color: #0a668d;
    border-radius: 8px 8px 0 0;
    font-size: 1.5rem;
    font-family: "Helvetica Neue";
    font-weight: 300;
    color: #fff;
}
</style>

<div class="row mt-2">
	<h2>My requests sent</h2>
	<hr>
</div>
<div class="row justify-content-center">
	<div class="col-lg-3 ">
		<div class="card border-secondary mb-3" style="max-width: 18rem;">
		  <div class="card-header">F1052</div>
		  <div class="card-body text-secondary">
		    
		    <p class="card-text">I have a passion for learning the deen and I strive to better myself to the best of my ability. I follow the Quran and sunnah according to the understanding...</p>
		  </div>
		</div>
	</div>
	<div class="col-lg-3 ">
		<div class="card border-secondary mb-3" style="max-width: 18rem;">
		  <div class="card-header">F1051</div>
		  <div class="card-body text-secondary">
		    
		    <p class="card-text">I have a passion for learning the deen and I strive to better myself to the best of my ability. I follow the Quran and sunnah according to the understanding...</p>
		  </div>
		</div>
	</div>
	<div class="col-lg-3 ">
		<div class="card border-secondary mb-3" style="max-width: 18rem;">
		  <div class="card-header">F0051</div>
		  <div class="card-body text-secondary">
		    
		    <p class="card-text">I have a passion for learning the deen and I strive to better myself to the best of my ability. I follow the Quran and sunnah according to the understanding...</p>
		  </div>
		</div>
	</div>
	<div class="col-lg-3 ">
		<div class="card border-secondary mb-3" style="max-width: 18rem;">
		  <div class="card-header">F2051</div>
		  <div class="card-body text-secondary">
		    
		    <p class="card-text">I have a passion for learning the deen and I strive to better myself to the best of my ability. I follow the Quran and sunnah according to the understanding...</p>
		  </div>
		</div>
	</div>
</div>



<div class="row mt-5">
	<h2>My requests received</h2>
	<hr>
</div>
<div class="row ">
	<div class="col-lg-3 ">
		<div class="card border-secondary mb-3" style="max-width: 18rem;">
		  <div class="card-header">F1058</div>
		  <div class="card-body text-secondary">
		   
		    <p class="card-text">I have a passion for learning the deen and I strive to better myself to the best of my ability. I follow the Quran and sunnah according to the understanding...</p>
		  </div>
		</div>
	</div>
	
	