<style type="text/css">
 nav ul li{
  margin-left: 12px;
  font-size: 18px;
 }
  
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid mt-2">
    <a class="navbar-brand" href="#">
      
    <%= link_to image_tag("logo.png", style:"width:120px; height:70px;"), root_path %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <%= link_to 'About', about_index_path, class: 'nav-link' %>
        </li>
        
        <li class="nav-item mr-2">
          <%= link_to 'Pricing', price_index_path, class: 'nav-link' %>
        </li>
        
        
        
      </ul>
    </div>
  </div>
</nav> 