
<div class="row ">
	<% if user_signed_in? %>

	<%end%>
	<div class="row my-3">
		<div class="col-lg-8 my">Name</div>
		<div class="col-lg-4"><%= current_user.name %> </div>
	</div>

	<div class="row my-3">
		<div class="col-lg-8 my">Email</div>
		<div class="col-lg-4"><%= current_user.email %></div>
	</div>
	<div class="row my-3">

		
		<% if @profile.subscription == nil || @profile.set_days > 30 %>
			<div class="col-lg-8 my">Your Account is Inactivate</div>
			<div class="col-lg-4">
				<!-- <button class="btn signup-btn">Reactivate</button -->
				<%= button_to 'Reactivate', settings_create_path, remote: true, class:'btn btn-danger',:data => {:confirm => 'Are you sure! You want to activate your account!'} %>
			</div>
		<% else %>
			<div class="col-lg-8 my">Account Activated</div>
			<div class="col-lg-4">
				<!-- <button class="btn signup-btn">Reactivate</button -->
				<%= button_to 'Activated', settings_create_path, remote: true, class:'btn btn-info', :data => {:confirm => 'Are You Sure! You want to renew your subscription!'} %>
			</div>
		<% end %>
	</div>
	<div class="row">
		<h4>Reactivating your account means</h4>
		<ul>
			<li>Your subscription will be reinstated</li>
			<li>You will be able to send your requests and the matches you have requested will be able to respond</li>
			<li>Your profile will be visible and candidates will be able to see and reques</li>

			
		</ul>
	</div>
</div>
   