<section class="community-section">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="content">
                    <div class="section-header">
                        <h6 class="sub-title wow fadeInUp">
                            Love in faith
                        </h6>
                        <h2 class="title wow fadeInUp">
                            Success Stories
                        </h2>
                        <p class="text wow fadeInUp">
                            Aliquam a neque tortor. Donec iaculis auctor turpis. Eporttitor
                            mattis ullamcorper urna. Cras quis elementum
                        </p>
                    </div>
                </div>
            </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-community-box wow fadeInUp" data-wow-delay="0.1s">
                        <div class="img">
                            <!-- <img src="assets/images/sucess/img1.jpg" alt=""> -->
                            <%= link_to image_tag("img1.jpg"), root_path %>
                        </div>
                        <div class="content">
                            <p class="date">
                               6 days ago
                            </p>
                            <h4 class="title">
                                Philosophy of love
                            </h4>
                            <p class="text">
                                Love for one another and love for 
                                yourself is priceless.
                            </p>
                        </div>
                        <div class="box-footer">
                            <div class="left">
                                <i class="fas fa-globe-americas"></i> Public
                            </div>
                            <div class="right">
                                <i class="fas fa-users"></i> 100
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-community-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="img">
                            <<!-- img src="assets/images/sucess/img2.png" alt=""> -->
                            <%= link_to image_tag("img2.png"), root_path %>
                        </div>
                        <div class="content">
                            <p class="date">
                               6 days ago
                            </p>
                            <h4 class="title">
                                Philosophy of love
                            </h4>
                            <p class="text">
                                Love for one another and love for 
                                yourself is priceless.
                            </p>
                        </div>
                        <div class="box-footer">
                            <div class="left">
                                <i class="fas fa-globe-americas"></i> Public
                            </div>
                            <div class="right">
                                <i class="fas fa-users"></i> 100
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-community-box wow fadeInUp" data-wow-delay="0.3s">
                        <div class="img">
                            <!-- <img src="assets/images/sucess/img3.png" alt=""> -->
                            <%= link_to image_tag("img3.png"), root_path %>
                        </div>
                        <div class="content">
                            <p class="date">
                               6 days ago
                            </p>
                            <h4 class="title">
                                Philosophy of love
                            </h4>
                            <p class="text">
                                Love for one another and love for 
                                yourself is priceless.
                            </p>
                        </div>
                        <div class="box-footer">
                            <div class="left">
                                <i class="fas fa-globe-americas"></i> Public
                            </div>
                            <div class="right">
                                <i class="fas fa-users"></i> 100
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>