<section class="feature-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="content">
                        <div class="section-header">
                            <h6 class="sub-title extra-padding wow fadeInUp">
                                A List Of
                            </h6>
                            <h2 class="title extra-padding wow fadeInUp">
                                Amazing Features
                            </h2>
                            <p class="text wow fadeInUp">
                                To make your experience a good one.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content-area">
            <div class="left-image">
                <div class="offer">
                    <div class="offer-inner-content">
                        <span class="fs">START NOW FOR</span>
                    <h2>
                        FREE
                    </h2>
                    <span class="ss">7 DAY TRIAL</span>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-lg-5">
                        <div class="feature-lists">
                            <div class="single-feature-list wow fadeInUp" data-wow-delay="0.1s">
                                <div class="icon">
                                    <!-- <img src="assets/images/feature/i1.png" alt=""> -->
                                    <%= link_to image_tag("i1.png"), root_path %>
                                </div>
                                <div class="content">
                                    <h4 class="title">
                                        Simple to use
                                    </h4>
                                    <p>
                                        
                                    </p>
                                </div>
                            </div>
                            <div class="single-feature-list wow fadeInUp" data-wow-delay="0.2s">
                                <div class="icon">
                                    <!-- <img src="assets/images/feature/i2.png" alt=""> -->
                                    <%= link_to image_tag("i2.png"), root_path %>
                                </div>
                                <div class="content">
                                    <h4 class="title">
                                        See who likes you
                                    </h4>
                                    <p>
                                        Simple steps to follow to have a matching
                                        connection.
                                    </p>
                                </div>
                            </div>
                            <div class="single-feature-list wow fadeInUp" data-wow-delay="0.3s">
                                <div class="icon">
                                    <!-- <img src="assets/images/feature/i3.png" alt=""> -->
                                    <%= link_to image_tag("i3.png"), root_path %>
                                </div>
                                <div class="content">
                                    <h4 class="title">
                                        Advance filtering
                                    </h4>
                                    <p>
                                        Simple steps to follow to have a matching
                                        connection.
                                    </p>
                                </div>
                            </div>
                            <div class="single-feature-list wow fadeInUp" data-wow-delay="0.4s">
                                <div class="icon">
                                    <!-- <img src="assets/images/feature/i4.png" alt=""> -->
                                    <%= link_to image_tag("i4.png"), root_path %>
                                </div>
                                <div class="content">
                                    <h4 class="title">
                                        Sunnah Compliant
                                    </h4>
                                    <p>
                                        Simple steps to follow to have a matching
                                        connection.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>