<section class="join-now-section">
        <!-- <img class="shape1" src="assets/images/join/heartshape.png" alt=""> -->
        <%= link_to image_tag("heartshape.png", class:"shape1"), root_path %>
        <%= link_to image_tag("img-change.png", class:"shape2"), root_path %>
        <!-- <img class="shape2" src="assets/images/join/img.png" alt=""> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="content">
                        <div class="section-header white-color">
                            <h2 class="title wow fadeInUp">
                                Simple and Easy ways to find a Potential
                            </h2>
                        </div>
                        
                        <% if user_signed_in? %>
                            <li>
                                <%= link_to 'Join Now', profiles_index_path, class:'custom-button'%>  
                            </li>
                        <% else %>
                             <%= link_to 'Join Now', new_user_registration_path, class:'custom-button'%>

                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </section>