<!-- ==========Overlay========== -->
    <div class="overlay"></div>
    <a href="#" class="scrollToTop">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- ==========Overlay========== -->

    <!-- ==========Breadcrumb-Section========== -->
    <section class="breadcrumb-area profile-bc-area">
        <div class="container">
            <div class="content">
                <h2 class="title">about us</h2>
                <ul class="breadcrumb-list">
                    <li>
                        <a href="index.html">
                            Home
                        </a>
                    </li>
                    <li>
                        about us
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- ==========Breadcrumb-Section========== -->

    <!-- ==========Start-Flirting-Section========== -->
    <section class="flirting-section about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="img">
                        <!-- <img src="assets/images/about/about-page-left.html.png" alt=""> -->
                        <%#= link_to image_tag("about-page-left.html.png"), root_path %>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content">
                        <div class="section-header">
                            <h6 class="sub-title">
                                Who We Are
                            </h6>
                            <h2 class="title">
                                About us
                            </h2>
                            <p>
                                SALAM MATCH is a fully sunnah complaint matrimony service that allows muslims to find their ideal spouse without compromising their faith. We truly believe that starting a relationship in the correct way taught to us by our beloved Prophet Muhammad Peace and blessings be upon him. We wanted to create a platform that people can use to find a spouse according to the sunnah and this way our marriages may be blessed.
                            </p>
                            
                            <p class="mb-0">
                                Marriage is a beautiful sunnah of our prophet and we wanted to help our brothers and sisters find the one in the right way. We found that many brothers and sisters found difficulty in finding a spouse due to not knowing where to begin or not knowing details about potentials. Our Platform solves both these problems by bringing all the options to you.
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Start-Flirting-Section========== -->


     <section class="flirting-section about-section">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6">
                    <div class="content">
                        <div class="section-header">
                            <h6 class="sub-title">
                                Get to Know More
                            </h6>
                            <h2 class="title">
                                Aims
                            </h2>
                            <p>Our aim is to make marriage simple. We want to provide the best service for each user we verify each profile so only serious candidates are on our platform.  Each user has a detailed profile that has detailed information about their religious practices and other information about themselves. So, you have an idea of the person you want to pursue.</p>
                            <div class="row">
                                 <h6 class="sub-title">
                                    How It Works
                                </h6>
                                <p><strong>Step 1: Create a profile</strong></p>
                                <p>Fill out your information. Tell us about yourself</p>
                                <p>&nbsp;</p>
                                <p><strong>Step 2: Find your ideal candidate</strong></p>
                                <p>After having your profile approved you can use our platform and search for profiles that you are interested in. (There are no pictures on our platform).</p>
                                <p>&nbsp;</p>
                                <p><strong>Step 3: Start sending requests</strong></p>
                                <p>Send requests to the profiles and if you get a match the rest is up to you. We encourage our users to meet each other with their wali.</p>
                            </div>
                            <div class="row">
                                <p style="color: red;">Note: there are no profile pictures on SALAM MATCH as we do not want any people on our site that are not serious. Also to comply with our Islamic values we do not allow any photos on our site rather we recommend matches to meet each other in person or over video call.</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="img">
                        <!-- <img src="assets/images/about/about-page-left.html.png" alt=""> -->
                        <%#= link_to image_tag("about-page-left.html.png"), root_path %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Start-Flirting-Section========== -->


    <!-- ========== w-c-u Section Starts ========== -->
    <section class="w-c-u-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="content">
                        <div class="section-header">
                            <h6 class="sub-title">
                                How We’re different
                            </h6>
                            <h2 class="title extra-padding">
                                Why Choose Us?
                            </h2>
                            <p class="text">
                                We make the process simple and easy
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-w-c-u-box">
                        <div class="icon">
                            <!-- <img src="assets/images/e-c-u/icon1.png" alt="" -->>
                            <%#= link_to image_tag("icon1.png"), root_path %>
                        </div>
                        <h4 class="title">
                            Sunnah Compliant
                        </h4>
                        <p>
                            We are a 100% sunnah compliant platform so you can find a suitor in the right way.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-w-c-u-box">
                        <div class="icon">
                            <!-- <img src="assets/images/e-c-u/icon2.png" alt=""> 
                            -->
                            <%#= link_to image_tag("icon2.png"), root_path %>
                        </div>
                        <h4 class="title">
                            Dedicated To The Salam Community
                        </h4>
                        <p>
                            Making it easier to find what you are looking for.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-w-c-u-box">
                        <div class="icon">
                            <!-- <img src="assets/images/e-c-u/icon3.png" alt=""> -->
                            <%#= link_to image_tag("icon3.png"), root_path %>
                        </div>
                        <h4 class="title">
                            Support
                        </h4>
                        <br>
                        <p>
                            Our team is always ready to help you if you have any problems.
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- ==========  w-c-u Section Starts ========== -->

    
    <!-- ==========Features-Section========== -->
    <%#= render 'home/featured_section'%>
    <!-- ==========Features-Section========== -->

    <!-- ==========Join-now-Section========== -->
    <%= render 'home/join_now_section'%>
    <!-- ==========Join-now-Section========== -->

    <!-- ==========Community-Section========== -->
    <%#= render 'home/community_section'%>
    <!-- ==========Community-Sectionn========== -->
<br><br>