<style type="text/css">
     .block {
       width: 350px;
       height: 250px;
       border-radius: 10px ;
       padding: 10px;
       /*border: 2px solid grey;*/ }
      .box-shadow-medium {
         -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.075);
         box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.075); }
      .background-light {
        color: #595959; }

      .background-light a {
        color: #595959; }
   </style>
   <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="block box-shadow-medium background-light ">
            <p>800+ Matches
              We've had over 800 matches on our platform so far and the number rises daily!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="block box-shadow-medium background-light ">
            <p>800+ Matches
              We've had over 800 matches on our platform so far and the number rises daily!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="block box-shadow-medium background-light ">
            <p>800+ Matches
              We've had over 800 matches on our platform so far and the number rises daily!</p>
          </div>
        </div>
      </div>
    </div>