

<div class="page-title">
      Settings
      <div class="right">
          <% if @profile.request <= 0 %> <span class="px-4 py-2 bg-danger remainning-btn">
                (<%= @profile.request %>) Request Remaining
              </span>
            <% else %> <span class="px-4 py-2 bg-info remainning-btn">
              (<%= @profile.request %>) Request Remaining
             </span>
          <% end %>
      </div>
  </div>
      
  <div class="container">
    
    <div class="row">
      <div class="col-12">
        <%= render 'shared/settings'%>
      </div>
    </div>
  </div>

